body {
  margin: 0;
}

.site-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: solid 2px;
  background-color: #f3efe0;
  height: 80px;
}

.site-logo {
  display: flex;
  align-items: center;
}

.site-logo a {
  text-decoration: none;
  color: #b08b43;
}

header {
  margin: 0;
}

.company-title {
  font-size: 40px;
  margin: 0 0 0 10px;
}

.site-nav {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin-right: 1rem;
  padding-left: 0;
  font-size: 20px;
}

.site-nav a {
  padding: 0.5rem 1rem;
}

.site-nav a,
.site-footer a {
  text-decoration: none;
  color: black;
}

.site-nav a:hover,
.site-footer a:hover {
  text-decoration: underline;
}

h1 {
  margin-left: 1rem;
  font-size: 2.5rem;
  text-decoration: underline;
}

h2 {
  font-style: italic;
}

.box {
  display: flex;
  padding-right: 1rem;
  padding-left: 1rem;
  gap: 1.5rem;
}

main img {
  border-radius: 2rem;
  align-self: center;
  background-color: #b08b43;
  padding: 1rem;
}

.products,
.locations {
  order: 1;
}

form {
  text-align: center;
}

.input-field {
  display: inline;
}

.contact-pic {
  display: block;
  margin: auto;
  margin-top: 100px;
}

.site-footer {
  display: flex;
  justify-content: center;
  background-color: #b88480;
  border-top: solid 2px;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-evenly;
}

.footer-links {
  list-style: none;
}
